<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchor</key>
	<string></string>
	<key>bank</key>
	<string></string>
	<key>beer</key>
	<string></string>
	<key>bell</key>
	<string></string>
	<key>bus</key>
	<string></string>
	<key>calculator</key>
	<string></string>
	<key>check</key>
	<string></string>
	<key>cloud</key>
	<string></string>
	<key>flag</key>
	<string></string>
	<key>flash</key>
	<string></string>
	<key>folder</key>
	<string></string>
	<key>giftBox</key>
	<string></string>
	<key>image</key>
	<string></string>
	<key>info</key>
	<string></string>
	<key>leaf</key>
	<string></string>
	<key>lightbulb</key>
	<string></string>
	<key>location</key>
	<string></string>
	<key>messageTyping</key>
	<string></string>
	<key>notes</key>
	<string></string>
	<key>pencil</key>
	<string></string>
	<key>phone</key>
	<string></string>
	<key>pin</key>
	<string></string>
	<key>pinWhite</key>
	<string></string>
	<key>plane</key>
	<string></string>
	<key>shoppingCart</key>
	<string></string>
	<key>snow</key>
	<string></string>
	<key>sun</key>
	<string></string>
	<key>tag</key>
	<string></string>
	<key>taxi</key>
	<string></string>
	<key>thumbsUp</key>
	<string></string>
	<key>ticket</key>
	<string></string>
	<key>time</key>
	<string></string>
	<key>traffic</key>
	<string></string>
	<key>tree</key>
	<string></string>
	<key>video</key>
	<string></string>
	<key>warning</key>
	<string></string>
	<key>waves</key>
	<string></string>
	<key>wine</key>
	<string></string>
</dict>
</plist>
